<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Weather App</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.6.2/css/bulma.css" />



</head>

<body>
    <section class="hero is-primary">
        <div class="hero-body" style=" background-color:rgb(56, 202, 190); ">
            <div class="container">
                <h1 class="title" style="color:black; opacity: .7">
                    How's the weather like?
                </h1>
            </div>
        </div>
    </section>
    <section class="section" style="background-color: rgb(235, 243, 242)">
        <div class="container">
            <div class="columns">
                <div class="column is-offset-4 is-4">

                    <div class="field has-addons">

                        <div class="control">
                            <a href="{% url 'index_page' %}" class="button"
                                style="background-color: rgb(56, 202, 190)">Back</a>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </section>

    <section class="section" style="padding-bottom: 5%;background-color:rgb(235, 243, 242)">
        <div class="container">
            <div class="columns">
                <div class="column is-offset-4 is-4">
                    {% for city_weather in weather_data %}
                    <div class="box" style="box-shadow:1px 2px 8px black ">
                        <article class="media">
                            <div class="media-left">
                                <figure class="image is-50x50">
                                    <img src="http://openweathermap.org/img/w/{{city_weather.icon}}.png" alt="Image" />
                                </figure>
                            </div>
                            <div class="media-content">
                                <div class="content">
                                    <p>


                                        <span class="title" id="showModal">{{ city_weather.city }}</span>


                                        <br />
                                        <span class="subtitle">{{ city_weather.temperature }}° C</span>
                                        <br />
                                        <span style="font-size: 24px">{{city_weather.main}}</span>
                                        <br>
                                        <span style="text-transform:capitalize; font-size: 16px">
                                            {{city_weather.description }}</span>
                                        <br>
                                        {{city_weather.temp_min}}° C -

                                        {{city_weather.temp_max}}° C
                                        <br>
                                        Humidity: {{city_weather.humidity}} %
                                        <br>
                                        Wind speed: {{city_weather.speed}} km/h
                                    </p>
                                </div>
                            </div>

                        </article>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </section>
    <footer style="background-color: rgb(56, 202, 190);  height: 50px;"></footer>
</body>

</html>